* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #333;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.main-color {
  color: rgb(33, 169, 55);
}

/* header */
header {
  height: 130px;
}

.header-wrapper {
  height: 130px;
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 80%;
}

.header-info-reception {
  font-size: 1.4rem;
  margin-bottom: 7px;
  line-height: 2rem;
}

/* first-view */
.fv {
  background: url(/images/fv.png);
  height: 947px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.fv-wrapper {
  width: 79%;
  margin: 0 auto;
  padding: 133px 0px;
}

.fv-title {
  writing-mode: vertical-lr;
}

.fv-title-inner {
  display: block;
  background-color: #fff;
  font-size: 2.8rem;
  line-height: 3.4rem;
  padding: 18px 35px 65px;
  margin-right: 80px;
}

/* concept */
.concept {
  padding: 162px 0 82px;
}

.concept-wrapper {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  width: 80%;
}

.concept-message {
  margin: 31px 49px 31px 31px;
}

.concept-message-title {
  font-size: 2.4rem;
  line-height: 3.5rem;
}

.concept-messge-body {
  font-size: 1.6rem;
  line-height: 3.8rem;
}

.underline-main {
  display: inline-block;
  background: linear-gradient(transparent 70%, #99e5a5 70%);
  padding-right: 8px;
}

.concept-message-title > span:last-child {
  margin: 32px 0 37px;
}

.concept-image {
  border-radius: 10px;
}
